/* colors & typography */

body {
  background: dimgray;
  margin: 0;
  color: silver;
  font-family: sans-serif;
}

h1,
h2,
p,
a,
table {
  white-space: nowrap;
}

h1 {
  font-size: 32px;
  margin: 0 48px 0 0;
}

h2 {
  font-size: 24px;
  margin: 0;
}

p {
  font-size: 16px;
  margin: 0;
}

a {
  color: silver;
  text-decoration: none;
}

/* layout */
header,
footer {
  background: midnightblue;
  position: fixed;
  width: 100vw;
  padding: 24px;
}

header {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
}

footer {
  bottom: 0;
  left: 0;
}

main {
  margin: 100px 0;
}

.welcome {
  width: 90%;
  margin: 300px auto;
  text-align: center;
}

/* buttons */
.btn {
  display: inline-block;
  background-color: maroon;
  padding: 12px 32px;
  margin-right: 24px;
  border: solid silver 1px;
  border-radius: 24px;
}

.btn:hover,
.btn:focus {
  background-color: silver;
  color: midnightblue;
}

.btn-submit {
  margin: 12px 0 0 0;
  background: indigo;
  color: silver;
}

.btn-submit:hover {
  color: dimgray;
}

/* form */
form,
table {
  margin: 150px auto;
  width: 90%;
  text-align: center;
}

input[type="text"],
input[type="number"] {
  background: transparent;
  margin: 4px;
  border: solid silver 1px;
  border-radius: 24px;
  color: silver;
  padding: 12px 32px;
  font-size: 16px;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  width: 24px;
  height: 24px;
  border: solid silver 1px;
  border-radius: 4px;
}

input[type="checkbox"]:checked {
  background: green;
}

input[type="checkbox"]:checked::before {
  content: "\2713";
  color: silver;
  font-size: 20px;
  padding: 4px;
}

/* errors */

.error {
  background: firebrick;
  text-transform: uppercase;
  margin: 48px auto;
  width: 40%;
  padding: 36px 0;
  border: solid silver 1px;
  border-radius: 8px;
  text-align: center;
}

/* room list */

th,
td {
  padding: 12px 36px;
}

th {
  background: maroon;
}

td {
  background: midnightblue;
}

.btn-actions {
  display: inline-block;
  border: solid silver 1px;
  border-radius: 16px;
  padding: 4px 12px;
}

.btn-actions:hover,
.btn-actions:focus {
  background: silver;
  color: midnightblue;
}

.room-name {
  text-decoration: none;
}

.room-name:hover,
.room-name:focus {
  font-weight: bold;
  color: firebrick;
}
